
Iscronium/.idea/.idea.Iscronium/.idea/indexLayout.xml
Iscronium/.idea/.idea.Iscronium/.idea/projectSettingsUpdater.xml
Iscronium/.idea/.idea.Iscronium/.idea/vcs.xml
*.xml
*.user
*.json
*.dll
*.exe
*.pdb
Iscronium/Iscronium/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Iscronium/Iscronium/obj/Debug/net6.0/Iscronium.AssemblyInfo.cs
*.cache
Iscronium/Iscronium/obj/Debug/net6.0/Iscronium.csproj.FileListAbsolute.txt
*.editorconfig
Iscronium/Iscronium/obj/Debug/net6.0/Iscronium.GlobalUsings.g.cs
*.props
*.targets
*.info
